<a href="https://colab.research.google.com/github/toyusan/aula-fiap-disruptive-archs/blob/main/2023_02_24_Aula_03_Corre%C3%A7%C3%A3o_da_Lista_de_Exercicios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1 -Utilize o Pandas para carregar o conjunto de dados "Breast Cancer" do UCI Machine Learning Repository em um dataframe, e imprima as 10 primeiras linhas.

In [54]:

# Inicializção das bibliotecas
%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer/breast-cancer.data"

# Lê e carrega o dataset na memória
df = pd.read_csv(url)

df.head(10)

,no-recurrence-events,30-39,premeno,30-34,0-2,no,3,left,left_low,no.1
0,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,right,right_up,no
1,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,left,left_low,no
2,no-recurrence-events,60-69,ge40,15-19,0-2,no,2,right,left_up,no
3,no-recurrence-events,40-49,premeno,0-4,0-2,no,2,right,right_low,no
4,no-recurrence-events,60-69,ge40,15-19,0-2,no,2,left,left_low,no
5,no-recurrence-events,50-59,premeno,25-29,0-2,no,2,left,left_low,no
6,no-recurrence-events,60-69,ge40,20-24,0-2,no,1,left,left_low,no
7,no-recurrence-events,40-49,premeno,50-54,0-2,no,2,left,left_low,no
8,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,right,left_up,no
9,no-recurrence-events,40-49,premeno,0-4,0-2,no,3,left,central,no

2 - Substitua o cabeçalho pelos nomes no arquivo breast-câncer.names

In [55]:

# Define o nome das colunas
header = ['Class', 'age', 'menopause', 'tumor-size', 'inv-nodes','node-caps','deg-malig','breast','breast-quad','irradiat']
# Lê e carrega o arquivo para a memória
df = pd.read_csv(url, header=None, names=header)

df.head(10)

,Class,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat
0,no-recurrence-events,30-39,premeno,30-34,0-2,no,3,left,left_low,no
1,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,right,right_up,no
2,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,left,left_low,no
3,no-recurrence-events,60-69,ge40,15-19,0-2,no,2,right,left_up,no
4,no-recurrence-events,40-49,premeno,0-4,0-2,no,2,right,right_low,no
5,no-recurrence-events,60-69,ge40,15-19,0-2,no,2,left,left_low,no
6,no-recurrence-events,50-59,premeno,25-29,0-2,no,2,left,left_low,no
7,no-recurrence-events,60-69,ge40,20-24,0-2,no,1,left,left_low,no
8,no-recurrence-events,40-49,premeno,50-54,0-2,no,2,left,left_low,no
9,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,right,left_up,no

3 - Use o método info() do Pandas para obter informações sobre o dataframe, como o número de entradas, o tipo de dados de cada coluna, entre outras informações.

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286 entries, 0 to 285
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Class        286 non-null    object
 1   age          286 non-null    object
 2   menopause    286 non-null    object
 3   tumor-size   286 non-null    object
 4   inv-nodes    286 non-null    object
 5   node-caps    286 non-null    object
 6   deg-malig    286 non-null    int64
 7   breast       286 non-null    object
 8   breast-quad  286 non-null    object
 9   irradiat     286 non-null    object
dtypes: int64(1), object(9)
memory usage: 22.5+ KB

4 - Criar um subdataframe contendo apenas o conteúdo das colunas Class, age, menopause e tumor-size

In [57]:
# Criar um subdataframe
df['Class'] = df['Class'].map({'no-recurrence-events': 0, 'recurrence-events': 1})
subdf = df[['Class', 'age', 'menopause', 'tumor-size']]

subdf.head(10)

   Class    age menopause tumor-size
0      0  30-39   premeno      30-34
1      0  40-49   premeno      20-24
2      0  40-49   premeno      20-24
3      0  60-69      ge40      15-19
4      0  40-49   premeno        0-4
5      0  60-69      ge40      15-19
6      0  50-59   premeno      25-29
7      0  60-69      ge40      20-24
8      0  40-49   premeno      50-54
9      0  40-49   premeno      20-24

5 - Visualizar os dados usando head() e pairplot()

In [62]:
import seaborn as sns

subdf.head(10)

   Class    age menopause tumor-size
0      0  30-39   premeno      30-34
1      0  40-49   premeno      20-24
2      0  40-49   premeno      20-24
3      0  60-69      ge40      15-19
4      0  40-49   premeno        0-4
5      0  60-69      ge40      15-19
6      0  50-59   premeno      25-29
7      0  60-69      ge40      20-24
8      0  40-49   premeno      50-54
9      0  40-49   premeno      20-24